<div class="menu" ng-cloak>
    <md-toolbar class="md-menu-toolbar">
        <div>
            <div layout="row">
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Game
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                    Start
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Load
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Save
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Exit
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            About
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                    Version
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Help
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>
</div>
