<md-dialog aria-label="Ludo">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex>{{mod.categorie.libelle | capitalize}}</span>
        <md-button class="md-icon-button" ng-click="mod.cancel()">
          <md-icon md-svg-src="/game/static/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-slider-container>
          <span></span>
          <md-slider flex min="0" max="100" ng-model="mod.categorie.budget" aria-label="red" id="red-slider" class="md-primary">>
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="mod.categorie.budget" aria-label="red" aria-controls="red-slider">
          </md-input-container>
        </md-slider-container>
      </div>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span flex>Evolution</span>
        </div>
      </md-toolbar>
      <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="mod.series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" </canvas>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
  </form>
</md-dialog>
