<md-dialog aria-label="Ludo">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="./static/img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div ng-if="categorie!='All'" class="md-dialog-content">
        <h1>{{ categorie }}</h1>
        <h2>{{ budget }}</h2>
      </div>
      <div ng-if="categorie=='All'" class="md-dialog-content">
        <md-slider-container ng-repeat="value in categories">
          <span>{{ value.libelle }}</span>
          <md-slider flex="" min="O" max="100" ng-model="value.budget" aria-label="{{ value.libelle }}" id="{{ value.libelle }}-slider">
          </md-slider>
          <md-input-container>
            <input flex="" type="number" ng-model="value.budget" aria-label="{{ value.libelle }}" aria-controls="{{ value.libelle }}-slider">
          </md-input-container>
        </md-slider-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
  </form>
</md-dialog>
